.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.below-nav{
  padding-top: 63px; 
}

.nolink{
  color: black;
  
}
.loginContainer {
  margin-top: 20px !important;
}

.loginLable{
  padding: 8px !important;
}

#loginCard {
  margin: 0 auto;  
  float: none;  
  margin-bottom: 10px; 
} 

#loginSquare{
  margin-top: 16px;
  justify-content: center;
  text-align: center;
}

.LoginButton {
  width: 200px;
  height: 200px;
  
}
.buttonslog {
  border-radius: 25%;
  border-color: black;
  
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
