
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.below-nav{
  padding-top: 63px; 
}

.nolink{
  color: black;
  
}
.text-decoration:hover {
  text-decoration: underline;
}

.loginContainer {
  margin-top: 20px !important;
}

.loginLable{
  padding: 8px !important;
}

#loginCard {
  margin: 0 auto;  
  float: none;  
  margin-bottom: 10px; 
} 

#loginSquare{
  margin-top: 16px;
  justify-content: center;
  text-align: center;
}
.title{
  font-size: 5vw;
}

.table-prod{
  background-color: white;

}

.LoginButton {
  width: 200px;
  height: 200px;
  /*background-color: white;*/
  display: block;
  align-items:center;
  margin-left: auto;
  margin-right: auto  ;
  background: rgb(204, 204, 204); /* Fallback for older browsers without RGBA-support */
  background: rgba(204, 204, 204, 0.5);
  position:relative;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}

.backg {
  background-image: url(https://www.helvetia.com/it/web/it/chi-siamo/blog/articoli-piu-consultati/viaggi/langhe/_jcr_content/teaserimage/image.1603704741882.transform-fp/1920x1080/langhe.jpg);
  position: fixed;
  opacity: 0.8;
  z-index: -1;
  top: 0px;
  left: 0px;
}


.buttonslog {
  border-radius: 25%;
  border-color: black;
  
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.signupTitle{
  margin-top: 30px !important;
  margin-bottom: 40px !important;
}

.spacing{
  margin-top: 25px !important;
  margin-bottom: 10px !important;
}

.buttonRow {
  justify-content: center !important;
  align-items: center !important;
  margin-top: 40px !important;
  margin-bottom: 10px !important;
}

.h-divider{
  margin-top:5px;
  margin-bottom:5px;
  height:1px;
  width:100%;
  border-top:1px solid gray;
}

.tablePadding{
  margin-left: 0px !important;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
